includes:
	- .phpstan.dist.neon
parameters:
	scanDirectories:
		- %env.HOME%/dev/stubs/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
	excludePaths:
		analyse:
			- %env.HOME%/dev/stubs/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
	bootstrapFiles:
		- .phpstan-bootstrap.php
