includes:
	- .phpstan.dist.neon
parameters:
	scanDirectories:
		- /home/gitlab-runner/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
		# caprel-stubs/smartauth excluded - use real files from project
		- /home/gitlab-runner/caprel-stubs/smartcommon
	excludePaths:
		analyse:
			- /home/gitlab-runner/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
			- /home/gitlab-runner/caprel-stubs
	bootstrapFiles:
		- .phpstan-bootstrap.php
	tmpDir: /tmp/dolibarr-%env.DOLIBARR_VERSION%
